# Earthquake file generated
earthquakes.json
design/design_api.odt

# API keys and secrets
# Remove comment to ignore, for this first version I push the env
# .env 

# Dependency directory
node_modules
bower_components

# Editors
.vscode

# Ignore built ts files
build/

# Ignore generate cache
*.tsbuildinfo

# Log files
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock